h1,
h2,
h3 {
  font-weight: bold;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.header__links-list {
  display: flex;
  gap: 30px;
  list-style: circle;
}

.header__links-list-item {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  text-underline-offset: 3px;
}

.header__links-list-item_no-bullit {
  list-style: none;
  padding: 0;
}

.header__link_active .header__link {
  text-decoration: none;
}

.adress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 240px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 24.3px; /* 135% */
}

.adress-link {
  text-underline-offset: 4px;
}

.header__adress {
  justify-self: end;
}

.cover {
  z-index: 0;
  position: relative;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  display: grid;
  row-gap: 20px;
  color: #fff;
  font-size: 100px;
  font-style: normal;
  line-height: 115%; /* 115px */
  letter-spacing: 30px;
  text-transform: uppercase;
  padding: 165px 50px 106px 50px;
}

.accent-span {
  z-index: 1;
  display: block;
}

.text-center {
  text-align: center;
  margin-right: -30px;
}

.text-right {
  text-align: right;
  margin-right: -30px;
}

.cover__description {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0 50px 50px 50px;
}

.cover__description-text {
  z-index: 1;
  display: flex;
  gap: 24px;
  color: #fff;
  font-size: 22px;
  font-weight: normal;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  padding: 12px 0px 11px 0px;
}

.bet-button {
  z-index: 1;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px 11px 31px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 22px;
  font-weight: normal;
  line-height: 26px;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  padding-top: 180px;
  padding-bottom: 120px;
}

.lots__heading {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 64px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  padding: 27px 24px 30px 24px;
}

.lots__card-list-item {
  position: relative;
  min-height: 596px;
  width: 334px;
}

.card-link {
  height: 100%;
  width: 100%;
}

.card {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  z-index: 1;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  line-height: 26.4px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-offset: auto;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}

.lots__look-more-link {
  color: #000;
  font-size: 20px;
  font-weight: normal;
  line-height: normal;
  padding-left: 64px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 334px 2fr;
  gap: 25px;
  padding: 0px 24px 180px 24px;
}

.about__column-logo {
  justify-items: center;
  padding-top: 35px;
}

.about__column-text {
  align-content: start;
}

.about__title {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
  padding: 136px 0 100px 0;
}

.about__text {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  display: block;
  width: 148px;
  height: 114px;
}

.about__text-wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px 50px 92px 50px;
}

.footer__menu-list {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-list-item {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  text-underline-offset: 4px;
}

.footer__menu-link_active .footer__menu-link {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
}

.footer__social-list-item {
  display: block;
  width: 48px;
  height: 48px;
}
